body {
    background: #222222;
    min-width: 400px;
}

#app {
    display: flex;
    justify-content: space-between;
}

.node {
    margin: 1px;
    width: 28px;
}

.category {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;

    max-width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: #000000;
    border: 1px solid #888888;
}

.subcategory {
    white-space: nowrap;
}

#graph-view {
    position: relative;
    flex-grow: 1;
    margin: 5px;

    background-color: #000000;
    border: 1px solid #888888;
}

#graph-view canvas {
    position: absolute;
    left: 1px;
    top: 1px;
}

#graph-view .node {
    display: block;
    position: absolute;
}

#graph-view .node.selected {
    border: 2px solid #d3d02f;
    transform: translate(-2px, -2px);
}